<template>
  <div id="HeaderComponent">
    <b-navbar toggleable sticky type="inverse" variant="blue">
      <div class="container">
        <b-nav-toggle target="nav_collapse"></b-nav-toggle>

        <router-link to="/"  class="navbar-brand">ThukMak.Shop</router-link>

        <b-collapse is-nav id="nav_collapse">

          <ul class="nav navbar-nav">
            <li class="nav-item">
              <router-link to="/new-store" class="nav-link">เปิดร้านค้าฟรี</router-link>
            </li>
            <li class="nav-item">
              <router-link to="/doc" class="nav-link">คู่มือการใช้งาน</router-link>
            </li>
            <li class="nav-item">
              <router-link to="/contact-us" class="nav-link">ติดต่อเรา</router-link>
            </li>
          </ul>
          <b-nav is-nav-bar class="ml-auto">
            <b-nav-item right>เข้าสู่ระบบ</b-nav-item>
          </b-nav>
        </b-collapse>
      </div>
    </b-navbar>
  </div>
</template>

<script>
  export default{
    name: 'HeaderComponent',
    data () {
      return {
        text: '1'
      }
    }
  }
</script>
