<template>
  <div id="NewStoreComponent">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="store-content">
            <div class="image_store">
              <img src="../assets/grocery.png">
            </div>
            <h3>เริ่มต้นสร้างร้านค้าของคุณ</h3>
            <div class="store-p" align="center">
              <p>หากคุณกำลังมองหาโอกาส สำหรับของสินค้า และระบบจัดการสินค้าของคุณให้ง่ายดายยิ่งขึ้น</p>
              <p>
                การชำระเงินไม่มีปัญหาอีกต่อไป ด้วยระบบชำระเงินระดับโลก Paypal ช่วยให้การเงินของคุณคล่องและสะดวกยิ่งขึ้น</p>
              <p>
                นอกจากนั้นยังมีตัวช่วยในการตรวจสอบออเดอร์ที่สั่งในแต่ละวัน และแท็กไปรษณีตรวจสอบสถานะของสินค้าได้อย่างรวดเร็ว</p>
              <p class="p-go-go">"อย่าปล่อยให้โอกาสขายสินค้านั้นหายไป กดสมัครใช้งานได้เลย"</p>
            </div>
            <div class="col-md-4 offset-md-4">
              <button class="mar30 bttn-unite bttn-md bttn-primary bttn-block" v-on:click="open_store">เปิดร้านตอนนี้
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default{
    name: 'NewStoreComponent',
    created: function () {
    },
    methods: {
      open_store: function (event) {
        this.$router.push({
          path: 'new-store',
          query: {
            open_cart: true
          }
        })
      }
    }
  }
</script>

<style>
  #NewStoreComponent {
    min-height: 300px;
  }
</style>
