@import url('https://fonts.googleapis.com/css?family=Athiti:300,400,500&subset=thai');

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Tahoma;
  background-color: #e9ebee;
}

.navbar-brand {
  font-family: 'Athiti', sans-serif;
  font-weight: 500;
}

.font-at {
  font-family: 'Athiti', sans-serif;
}

.content-zone {
  margin-top: 0em;
}

.bg-blue {
  background-color: #4E342E;
}

.navbar {
  padding: 0;
}

.mar30 {
  margin-top: 30px;
}

.store-content {
  margin-top: 5em;
}

.store-content .image_store {
  text-align: center;
  margin-bottom: 30px;
}

.store-content h3 {
  text-align: center;
  font-family: 'Athiti', sans-serif;
  font-size: 38px;
}

.store-content .store-p {
  margin-top: 20px;
}

.store-content .store-p p {
  font-family: 'Athiti', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.store-content .store-p p.p-go-go {
  margin: 40px 0;
  font-size: 24px;
  font-weight: 500;
  color: #6A1B9A;
}

.store-content .bttn-unite {
  font-family: 'Athiti', sans-serif;
  font-weight: 500;
}
