<template>
  <div id="app">
    <HeaderComponent/>
    <router-view class="content-zone"></router-view>
  </div>
</template>

<script>

  import Vue from 'vue'
  import bootStrap from 'bootstrap-vue'
  import HeaderComponent from './components/HeaderComponent.vue'
  import 'bootstrap/dist/css/bootstrap.css'
  import 'bootstrap-vue/dist/bootstrap-vue.css'
  import './assets/bttn.min.css'
  import './assets/main.css'

  Vue.use(bootStrap)

  export default {
    name: 'app',
    components: {
      HeaderComponent
    }
  }

</script>

<style>

</style>
